@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

* {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --DesaturatedRed: hsl(0, 36%, 70%);
    --SoftRed: hsl(0, 93%, 68%);
    --DarkGrayishRed: hsl(0, 6%, 24%);
    --LinearBG: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    --LinearBTN: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    --HoverBTN:linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 80%, 86%));
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    background:url(../images/bg-pattern-desktop.svg), var(--LinearBG);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    overflow: hidden;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo_desktop {
    position: absolute;
    top: 5em;
    cursor: pointer;
}

.text-content {
    margin: 9em;
}

.text-content h1 {
    width: 100%;
    max-width: 335px;
    font-weight: 300;
    color: var(--DesaturatedRed);
    letter-spacing: 15px;
}

.text-content h2 {
    font-weight: 600;
    color: var(--DarkGrayishRed);
    line-height: 1.1em;
    width: 100%;
    max-width: 278px;
}

.text-content h1, .text-content h2 {
    text-transform: uppercase;
    font-size: 4rem;
    letter-spacing: 15px;
}

.text-content p {
    margin-top: 1.5em;
    max-width: 430px;
    color: var(--DesaturatedRed) ;
    line-height: 27px;
}

.input-email {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    max-width: 400px;
}

#email {
    display: block;
    width: 100%;
    border: 1px solid var(--DesaturatedRed);
    height: 53px;
    margin-top: 3em;
    border-radius: 40px;
    padding-left: 2em;
}

#email:focus {
    outline: none;
}

::placeholder {
    color: var(--DesaturatedRed);
}

#btn {
    position: absolute;
    padding: 1.1rem 3em;
    border-radius: 30px;
    margin: 2.7em 0em 0em 25em;
    background-image: var(--LinearBTN);
    cursor: pointer;
}

#btn:hover {
    background-image: var(--HoverBTN);
    box-shadow: 0 5px 10px hsla(0, 80%, 86%, 0.562);
}

#btn:active{
    background-image: var(--LinearBTN);
}

.error-email, .sucess-email{
    display: none;
}

.error-email img {
    position: absolute;
    margin: -2.5em 0em 0em 18em;
}

.error-email span {
    color: var(--SoftRed);
}

.sucess-email span {
    color: hsl(120, 100%, 31%);
}

.error-email span, .sucess-email span {
    display: block;
    margin-top: 0.3rem;
    padding-left: 2.3em;
    font-size: 0.8rem;
    font-weight: 400;
}

.hero_desktop img {
    display: block;
    min-height: 100vh;
    width: 100%;
}

.attribution {
    position: absolute;
    padding: .3em;
    bottom: 0;
    text-align: center;
    color: var(--DarkGrayishRed);
}

.attribution a {
    color: var(--DesaturatedRed);
}

.hero-mobile {
    display: none;
}

#logo_mobile {
    display: none;
}